body {
	background-color: #DBF5F7;
	/*background: linear-gradient(160deg, #B3DFCB 60%, #236E2F 60%);*/
}

h1 {
	margin-top: 15px;
	text-align: center;
	line-height: 30px;
	font-weight: lighter;
}

h2 {
	font-weight: 200;
	/*text-decoration: underline;*/
	color: #5F5F5F;
	text-align: center;
}

h3 {
	color: #5F5F5F;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    margin-right: 10px;
	font-weight: lighter;
}

li {
	text-align: left;
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: lighter;
}

ul {
	margin-left: 25px;
	margin-right: 45px;
	list-style-type: none;
}

footer {
	clear: both;
}

#header {
	height: 60px;
	width: 100%;
	margin:0 0 0 0;
	border:0 0 0 0;
	padding:0 0 0 0;
	color: #FFFFFF; 
	text-align: center; 
	position: fixed;
	top:0px;
	left:0px;
	z-index:1;
	background-color: #236E2F;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-family:Helvetica;
}

#body-content{
	margin-top: 5%;
}

.bubble {
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 10px;
	margin-bottom: 25px;
	margin-top: 30px;
	border: 1px solid #DBF5F7;
	/*border: 1px solid #8ED3B4;*/
	font-family: Helvetica;
}

#results {
	width: 35%;
	float: left;
	padding-top: 1px;
	margin-left: 2%;
}

.result-summary-1{
	font-size: 36px;
	padding-right: 7px;
}

#info{
	text-align: center;
}

#overview {
	padding-top: 2px;
	width: 60%;
	margin-right: 2%;
    margin-left: auto;
}

.map {
	height: 250px;
}

.active, .collapse:hover {
/*  background-color: #ccc;*/
}

#expand-1 {
/*  padding: 0 18px;
  display: none;
  overflow: hidden;*/
}

.location-content {
	text-align: center;
}

.social-links {
	margin: auto;
	width: 100%;
	text-align: center;
	position: static;
	height: 75px;
}

.social-link {
	display: inline-block;
	width:65px;
	height:65px;
	padding-right: 10px;
	bottom: 0px;
}

#footer-love {
	text-align: center;
	font-family: Helvetica;
}

#swimbug {
	height: 300px;
	text-align: center;
	line-height: 0px;
	margin-top: 5px;
}

#swimbug img{
	height: 100%;
	width: auto;
}

#tides {
/*	display:flex;
    flex-wrap: wrap;*/
}

#weather {

}

#ts_widget_34106159032346718f660a87632f8b02 {
	width:80% !important;
}

.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.75;
opacity: 0.75;
}


.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

a { 
	color:#000000;
	text-decoration: none;
}

a:visited { text-decoration: none; color:#000000; }
a:hover { text-decoration: none; color:#236E2F; }

@media only screen and (max-width: 767px) {
    #results {
        display: block; 
        float: none; 
        width: 100%;
        margin-top: 25%;
        margin-left: 0px;
    }

    #overview {
        display: block; 
        float: none; 
        width: 100%;
        margin-left: 0%;
    }
    h1 {
    	margin-top: 2px;
    }
    #header {
    	height: 64px;
    }
}

