<!doctype html>

<html lang="en">
<head>
  <title> SF Bay Water Quality - Safe to Swim</title>
  <meta charset=“UTF-8”>
  <meta name="description" content="Easy to read water quality, temperature, and tide reports for the San Francisco Bay Area.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
  <script type="text/javascript">
(function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
  mixpanel.init('8e7134b9b544cfbcd6b75d4e8b458d85');
  mixpanel.track("Home Page View");
</script>
</head>

<body>
  <div id="header">
    <h1>- San Francisco Bay - Safe to Swim Data -</h1>
  </div>
  <div id="body-content">
    <div id="results">
      <div class="bubble">
        <h2>Current Conditions (NOAA Data)</h2>
        <iframe id="alameda-noaa" src="https://www.ndbc.noaa.gov/widgets/station_page.php?station=AAMC1" scrolling="no"></iframe>
        <iframe id="sf-noaa" src="https://www.ndbc.noaa.gov/widgets/station_page.php?station=FTPC1" scrolling="no"></iframe>
      </div>
      <div class="bubble">
        <h2>Active Water Quality Alerts</h2>
        {% include 'alerts.html' %}
      </div>
      <div class="bubble">
        <div class="location-content">
        <h2>Alameda - Recent Water Quality</h2>
        <div class="result-summary-1">
          <canvas id="chart-alameda"></canvas>
       </div>
        <button type="button" id="collapse-1" aria-expanded="false">Location Details</button>
          <div id="expand-1" hidden="">
          	<p>Location:</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.3637510733533!2d-122.2614236490818!3d37.75806822079424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f86b167e16e0d%3A0x1a1e5e44836f21cc!2s2001%20Shore%20Line%20Dr%2C%20Alameda%2C%20CA%2094501!5e0!3m2!1sen!2sus!4v1625697557182!5m2!1sen!2sus" width="75%" height="90%" style="border:0.5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="bubble">
        <div class="location-content">
        <h2>Aquatic Park - Recent Water Quality</h2>
        <div class="result-summary-1">
          <canvas id="chart-sf-ap"></canvas>
        </div>
        <button type="button" id="collapse-2" aria-expanded="false">Location Details</button>
          <div id="expand-2" hidden="">
          	<p>Location:</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12609.209496231953!2d-122.4235308!3d37.8063859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cec836886978844!2sAquatic%20Park!5e0!3m2!1sen!2sus!4v1625800235047!5m2!1sen!2sus" width="75%" height="90%" style="border:0.5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="bubble">
        <div class="location-content">
          <h2>Berkeley Marina Cam</h2>
          <div class="result-summary-1">
            <img id="berkeley-cam" src="http://cal-sailing.appspot.com/cam/dock"></img>
          </div>
        </div>
      </div> -->
    </div>
    <div id="overview">
      <div class="bubble">
        <div id="info">
          <div id="swimbug">
            <img src="{{url_for('static', filename='swimbug_blank.png')}}"/>
          </div>
          <h2>About This Page</h2>
          <p> sfbayswim.info presents water quality data from California's open databases, highlights active water quality advisories, and shares extra information regarding the San Francisco Bay. Use this website to gain quick insight into conditions before heading out to enjoy the beautiful bay. 
          </p>
          <h3> Tide and Weather </h3>
          <div id="tides">
          <script src="https://www.tidespro.com/scripts/34106159032346718f660a87632f8b02/tidechart/us/california/san-francisco-san-francisco-bay"></script>
          </div>
          <div id="weather">
            <div id="ww_140e18" v='1.20' loc='id' a='{"t":"responsive","lang":"en","ids":["wl3935"],"cl_bkg":"#FFFFFF","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"5","sl_sot":"fahrenheit","sl_ics":"one_a","font":"Arial","cl_odd":"#0000000a"}'><a href="https://weatherwidget.org/" id="ww_140e18_u" target="_blank">Weather widget for website by Weatherwidget.org</a></div><script async src="https://srv2.weatherwidget.org/js/?id=ww_140e18"></script>
          </div>
          <h3> Check the Details </h3>
          <p>Use the water quality charts to understand recent trends. Rely on active alerts provided by the reporting agencies to gauge real-time water quality.
          <h3> Why Care About Recreating in Dirty Water? </h3>
          <p>According to the Environmental Protection Agency (EPA), "Swimming at beaches with pollution in the water or in the sand can make you ill". In short, it is important to track water quality in order to make informed decisions about your water recreation. <a href="https://www.epa.gov/beaches/learn-what-affects-human-health-beach#:~:text=The%20most%20common%20illness%20associated,%2C%20diarrhea%2C%20headache%20or%20fever."><b>The EPA has additional information here.</b></a></p>
          <h3> Carefully Consider </h3>
          <p> There are <b>many</b> factors to consider when looking at the data. Some important ones include the date the sample was taken, the location of the sample, and what analytes the sample detects. </p>
          <ul>
            <li>&#x1F4C5; <b>Sample Date</b> - Agencies do not pull samples daily. Realize that the data can be old. </li>
            <li>&#x1F30D; <b>Location</b> - Water quality can vary between two nearby areas. While data collected at one location may be a good representation of water quality in nearby areas, it is also possible for there to be large differences. </li>
            <li>&#x1F9A0; <b>Bacteria Types</b> - There are many microorganisms and pollutants in the San Francisco Bay. Many can make you ill. This site only accounts for E. Coli, Enterococcus, and Coliform analyses. </li>
          </ul>
          <h3> Helpful + Cool Links </h3>
          <ul>
            <li><a href="https://data.ca.gov/dataset/surface-water-fecal-indicator-bacteria-results"> &#x1F4CA; <b>Safe to Swim Dataset</b></a></li>
            <li><a href="https://www.epa.gov/sites/production/files/2015-10/documents/rwqc2012.pdf"> &#x1F30D; <b>EPA Guidelines on Recreational Water Quality</b></a></li>
            <li><a href="https://mywaterquality.ca.gov/safe_to_swim/"> &#x1F6A3; <b>California Safe to Swim Resources</b></a></li>
          </ul> 
        </div>
      </div>
      <div class="bubble">
        <h2> Say Hello  &#x1F44B;</h2>
        <div class="social-links">
          <div class="social-link">
            <a href="https://twitter.com/sfbaysafetoswim" class="highlightit">
              <img src="{{url_for('static', filename='twitter.svg')}}" />
            </a>
          </div>
          <div class="social-link">
            <a href="mailto: sfbayswim@gmail.com" class="highlightit">
              <img src="{{url_for('static', filename='gmail.svg')}}"/>
            </a>
          </div>
          <div class="social-link">
            <a href="https://www.reddit.com/user/sf-bay-safe-to-swim" class="highlightit">
              <img id="reddit-link" src="{{url_for('static', filename='reddit.svg')}}"/>
            </a>
          </div>
        </div>
    </div>
  </div>
  <footer>
<!--    <div class="social-links">
      <div class="social-link">
        <a href="https://twitter.com/sfbaysafetoswim" class="highlightit">
          <img src="{{url_for('static', filename='twitter.svg')}}" />
        </a>
      </div>
      <div class="social-link">
        <a href="mailto: sfbayswim@gmail.com" class="highlightit">
          <img src="{{url_for('static', filename='gmail.svg')}}"/>
        </a>
      </div>
    </div> -->
    <div id="footer-love">
      <p> Made by Scott. Enjoy the Bay!</p>
      <p> Copyright 2022 </p>
    </div>
  </footer>
</body>

{% block javascript %}
  <script>
  alameda_data = JSON.parse({{ alameda_chart_object | tojson }})
  alameda_date_data = {{ alameda_date_range | safe }}
  for (var i = 0; i < alameda_date_data.length; i++) { alameda_date_data[i].replace(/'/g, '"'); }

  sf_ap_data = JSON.parse({{ sf_ap_chart_object | tojson }})
  sf_ap_date_data = {{ sf_ap_date_range | safe }}
  for (var i = 0; i < sf_ap_date_data.length; i++) { sf_ap_date_data[i].replace(/'/g, '"'); }

  sf_ob_data = JSON.parse({{ sf_ob_chart_object | tojson }})
  sf_ob_date_data = {{ sf_ob_date_range | safe }}
  for (var i = 0; i < sf_ob_date_data.length; i++) { sf_ob_date_data[i].replace(/'/g, '"'); }

  function makeAlamedaChart(measurements, dates) {
    var chart = new Chart('chart-alameda', {
      type: "line",
      options: {
        elements: {
          line: {
              tension: 0
          }
        },
        plugins: {
          legend: {
            position: 'top',
          },
        },
        scales: {
          xAxes: [{
              type: 'time',
              afterTickToLabelConversion: function(data){
                var xLabels = data.ticks;
                xLabels.forEach(function (labels, i) {
                    if (i % 3 != 0){
                        xLabels[i] = '';
                    }
                });
              }, 
              ticks: {
                maxTicksLimit: 10
              },
              time: {
                unit: 'day',
                displayFormats: {
                  day: 'MM-DD'
                }
              }
          }]
        }
      },
      data: {
        labels: dates,
        datasets: [
          {
            fill: false,
            label: 'Coliform, Fecal (cfu/100mL)',
            data: alameda_data.alameda_fecal_coli,
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
          },
          {
            fill: false,
            label: 'Enterococcus (cfu/100mL)',
            data: alameda_data.alameda_enterococcus,
            backgroundColor: 'rgb(64, 196, 16)',
            borderColor: 'rgb(64, 196, 16)',
          },
        ]
      }
    });
  }

  function makeSFAPChart(measurements, dates) {
    var chart = new Chart('chart-sf-ap', {
      type: "line",
      options: {
        elements: {
          line: {
              tension: 0
          }
        },
        plugins: {
          legend: {
            position: 'top',
          },
        },
        scales: {
          xAxes: [{
              type: 'time',
              afterTickToLabelConversion: function(data){
                    var xLabels = data.ticks;
                    xLabels.forEach(function (labels, i) {
                        if (i % 3 != 0){
                            xLabels[i] = '';
                        }
                    });
              }, 
              time: {
                unit: 'day',
                displayFormats: {
                  day: 'MM-DD'
                }
              }
          }]
        }
      },
      data: {
        labels: dates,
        datasets: [
          {
            fill: false,
            label: 'Coliform, Total (MPN/100mL)',
            data: sf_ap_data.ap_total_coli,
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
          },
          {
            fill: false,
            label: 'Enterococcus (MPN/100mL)',
            data: sf_ap_data.ap_enterococcus,
            backgroundColor: 'rgb(64, 196, 16)',
            borderColor: 'rgb(64, 196, 16)',
          },
          {
            fill: false,
            label: 'E. Coli (MPN/100mL)',
            data: sf_ap_data.ap_ecoli,
            backgroundColor: 'rgb(255, 79, 66)',
            borderColor: 'rgb(255, 79, 66)',
          },
        ]
      }
    });
  }

  function makeSFOBChart(measurements, dates) {
    var chart = new Chart('chart-sf-ob', {
      type: "line",
      options: {
        elements: {
          line: {
              tension: 0
          }
        },
        plugins: {
          legend: {
            position: 'top',
          },
        },
        scales: {
          xAxes: [{
              type: 'time',
              afterTickToLabelConversion: function(data){
                var xLabels = data.ticks;
                xLabels.forEach(function (labels, i) {
                    if (i % 3 != 0){
                        xLabels[i] = '';
                    }
                });
              }, 
              time: {
                unit: 'day',
                displayFormats: {
                  day: 'MM-DD'
                }
              }
          }]
        }
      },
      data: {
        labels: dates,
        datasets: [
          {
            fill: false,
            label: 'Coliform, Total (MPN/100mL)',
            data: sf_ob_data.ob_total_coli,
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
          },
          {
            fill: false,
            label: 'Enterococcus (cfu/100mL)',
            data: sf_ob_data.ob_enterococcus,
            backgroundColor: 'rgb(64, 196, 16)',
            borderColor: 'rgb(64, 196, 16)',
          }
        ]
      }
    });
  }

  makeAlamedaChart(alameda_data, alameda_date_data);
  makeSFAPChart(sf_ap_data, sf_ap_date_data);
  makeSFOBChart(sf_ob_data, sf_ob_date_data)

</script>
{% endblock %}

<script>
(function () {
  $(document).ready(function () {
    var $button1, $button2, $expand1, $expand2
    $button1 = $('#collapse-1')
    $button2 = $('#collapse-2')
    $button3 = $('#collapse-3')
    $expand1 = $('#expand-1')
    $expand2 = $('#expand-2')
    $expand3 = $('#expand-3')


    return $button1.click(() => {
      if ($expand1.attr('hidden') === 'hidden') {
      	mixpanel.track("Viewed Measurement Details", {"Testing Location": "Crown 2001 Shoreline"})
        return expandTop($button1, $button2, $button3, $expand1, $expand2, $expand3)
      } else {         
        $expand1.attr('hidden', true)
        return $button1.attr('aria-expanded', false)
      }
    });

  })
}.call(this));

(function () {
  $(document).ready(function () {
    var $button1, $button2, $expand1, $expand2
    $button1 = $('#collapse-1')
    $button2 = $('#collapse-2')
    $button3 = $('#collapse-3')
    $expand1 = $('#expand-1')
    $expand2 = $('#expand-2')
    $expand3 = $('#expand-3')


	return $button2.click(() => {
	  if ($expand2.attr('hidden') === 'hidden') {
	  	mixpanel.track("Viewed Measurement Details", {"Testing Location": "Aquatic Park"})
	    return expandMiddle($button1, $button2, $button3, $expand1, $expand2, $expand3)
	  } else {         
	    $expand2.attr('hidden', true)
	    return $button2.attr('aria-expanded', false)
	  }
	});

  })
}.call(this));

(function () {
  $(document).ready(function () {
    var $button1, $button2, $expand1, $expand2
    $button1 = $('#collapse-1')
    $button2 = $('#collapse-2')
    $button3 = $('#collapse-3')
    $expand1 = $('#expand-1')
    $expand2 = $('#expand-2')
    $expand3 = $('#expand-3')

    return $button3.click(() => {
	  if ($expand3.attr('hidden') === 'hidden') {
	  	mixpanel.track("Viewed Measurement Details", {"Testing Location": "Ocean Beach"})
	    return expandBottom($button1, $button2, $button3, $expand1, $expand2, $expand3)
	  } else {         
	    $expand3.attr('hidden', true)
	    return $button3.attr('aria-expanded', false)
	  }
	});

  })
}.call(this));

function expandTop($button1, $button2, $button3, $expand1, $expand2, $expand3) {
  $expand1.removeAttr('hidden')
  $button1.attr('aria-expanded', true)
  $button2.attr('aria-expanded', false)
  $expand2.attr('hidden', true)
  $button3.attr('aria-expanded', false)
  $expand3.attr('hidden', true)
}

function expandMiddle($button1, $button2, $button3, $expand1, $expand2, $expand3) {
  $expand2.removeAttr('hidden')
  $button2.attr('aria-expanded', true)
  $button3.attr('aria-expanded', false)
  $expand3.attr('hidden', true)
  $button1.attr('aria-expanded', false)
  $expand1.attr('hidden', true)
}

function expandBottom($button1, $button2, $button3, $expand1, $expand2, $expand3) {
  $expand3.removeAttr('hidden')
  $button3.attr('aria-expanded', true)
  $button2.attr('aria-expanded', false)
  $expand2.attr('hidden', true)
  $button1.attr('aria-expanded', false)
  $expand1.attr('hidden', true)
}
</script>
