<!doctype html>

<html lang="en">
<head>
	<title> SF Bay Water Quality - Safe to Swim</title>
	<meta charset=“UTF-8”>
	<meta name="description" content="Easy to read water quality report for the San Francisco Bay Area.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
(function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
	mixpanel.init('8e7134b9b544cfbcd6b75d4e8b458d85');
	mixpanel.track("Home Page View");
</script>
</head>

<body>
	<div id="header">
		<h1>- san francisco bay - safe to swim data -</h1>
	</div>
	<div id="body-content">
		<div id="results">
			<div class="bubble">
				<div class="location-content">
				<h2>Alameda</h2>
				<div class="result-summary">
					{% if alameda_safe == True %}
					<p> &#x1F3CA; + &#x1F4A7; = &#x1F44D; </p>
					{% else %}
					<p> &#x1F3CA; + &#x1F4A7; = &#x1F44E; </p>
					{% endif %}
				</div>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.3637510733533!2d-122.2614236490818!3d37.75806822079424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f86b167e16e0d%3A0x1a1e5e44836f21cc!2s2001%20Shore%20Line%20Dr%2C%20Alameda%2C%20CA%2094501!5e0!3m2!1sen!2sus!4v1625697557182!5m2!1sen!2sus" width="75%" height="90%" style="border:0.5;" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<button type="button" id="collapse-1" aria-expanded="false">Measurement Details</button>
					<div id="expand-1" hidden="">
						<p>Analyte: {{al_ent_analyte}}</p>
						<p>Result: {{al_ent_result}} {{al_ent_unit}}</p>
						<p>Sample Location: {{al_ent_stat_code}}</p>
						<p>Sample Date: {{al_ent_sample_date}}</p>
						<hr width="100">
						<p>Analyte: {{al_col_t_analyte}}</p>
						<p>Result: {{al_col_t_result}} {{al_col_t_unit}}</p>
						<p>Sample Location: {{al_col_t_stat_code}}</p>
						<p>Sample Date: {{al_col_t_sample_date}}</p>
						<hr width="100">
						<p>Analyte: {{al_col_f_analyte}}</p>
						<p>Result: {{al_col_f_result}} {{al_col_f_unit}}</p>
						<p>Sample Location: {{al_col_f_stat_code}}</p>
						<p>Sample Date: {{al_col_f_sample_date}}</p>
					</div>
				</div>
			</div>
			<div class="bubble">
				<div class="location-content">
				<h2>Aquatic Park - SF</h2>
				<div class="result-summary">
					{% if sf_aquatic_park_safe == True %}
					<p> &#x1F3CA; + &#x1F4A7; = &#x1F44D; </p>
					{% else %}
					<p> &#x1F3CA; + &#x1F4A7; = &#x1F44E; </p>
					{% endif %}
				</div>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12609.209496231953!2d-122.4235308!3d37.8063859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cec836886978844!2sAquatic%20Park!5e0!3m2!1sen!2sus!4v1625800235047!5m2!1sen!2sus" width="75%" height="90%" style="border:0.5;" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<button type="button" id="collapse-2" aria-expanded="false">Measurement Details</button>
					<div id="expand-2" hidden="">
						<p>Analyte: {{ap_col_t_analyte}}</p>
						<p>Result: {{ap_col_t_result}} {{ap_col_t_unit}}</p>
						<p>Sample Location: {{ap_col_t_stat_code}}</p>
						<p>Sample Date: {{ap_col_t_sample_date}}</p>
						<hr width="100">
						<p>Analyte: {{ap_ent_analyte}}</p>
						<p>Result: {{ap_ent_result}} {{ap_ent_unit}}</p>
						<p>Sample Location: {{ap_ent_stat_code}}</p>
						<p>Sample Date: {{ap_ent_sample_date}}</p>
						<hr width="100">
						<p>Analyte: {{ap_ecoli_analyte}}</p>
						<p>Result: {{ap_ecoli_result}} {{ap_ecoli_unit}}</p>
						<p>Sample Location: {{ap_ecoli_stat_code}}</p>
						<p>Sample Date: {{ap_ecoli_sample_date}}</p>
					</div>
				</div>
			</div>
		</div>
		<div id="overview">
			<div class="bubble">
				<div id="info">
					<h2>How to Use This Page</h2>
					<p><i>... with a grain of salt! </i></p>
					<p> Monitoring water quality requires many inputs. This site analyzes data from California's open databases,
					compares against the Environmental Protection Agency's recommended bacteria limits, and presents either a &#x1F44D; or &#x1F44E;. </p>
					<h3> The Binary Emoji Scale </h3>
					<p> The &#x1F44D; is currently given if the Enterococcus measurements are less than 60 cfu/ml or 60 MPN/ml, and the E. Coli amounts are less than 190 cfu/ml or 190 MPN/ml. If the most recent sample measurement is above any threshold, then it is given a &#x1F44E;.
					<h3> Check the Details </h3>
					<p> Click <b>Measurement Details</b> to see the raw data. This includes the analyte, the result amount from the sample, the location of the sample, and the date that the sample was taken.
					<h3> Carefully Consider </h3>
					<p> There are <b>many</b> factors to consider when looking at the data. Some important ones include the date the sample was taken, the location of the sample, and what analytes the sample detects. </p>
					<ul>
						<li>&#x1F4C5; <b>Sample Date</b> - Agencies do not pull samples daily. Realize that the data can be old. </li>
						<li>&#x1F30D; <b>Location</b> - Water quality can vary greatly in close areas. While one area's water quality can match the quality in a neighboring area,
						it is also possible that they aren't the same. </li>
						<li>&#x1F9A0; <b>Analytes</b> - There are many microorganisms and pollutants in the water. Many can make you ill. The emoji scale only looks at E. Coli and Enterococcus. The measurement details also have Fecal Coliform measurements. </li>
					</ul>
					<h3> Helpful + Cool Links </h3>
					<ul>
						<li><a href="https://data.ca.gov/dataset/surface-water-fecal-indicator-bacteria-results"> &#x1F4CA; <b>Safe to Swim Dataset</b></a></li>
						<li><a href="https://www.epa.gov/sites/production/files/2015-10/documents/rwqc2012.pdf"> &#x1F30D; <b>EPA Guidelines on Recreational Water Quality</b></a></li>
						<li><a href="https://mywaterquality.ca.gov/safe_to_swim/"> &#x1F6A3; <b>California Safe to Swim Resources</b></a></li>
					</ul>	
				</div>
			</div>
			<div class="bubble">
				<h2> Say Hello 	&#x1F44B;</h2>
				<div class="social-links">
					<div class="social-link">
						<a href="https://twitter.com/sfbaysafetoswim" class="highlightit">
							<img src="{{url_for('static', filename='twitter.svg')}}" />
						</a>
					</div>
					<div class="social-link">
						<a href="mailto: sfbayswim@gmail.com" class="highlightit">
							<img src="{{url_for('static', filename='gmail.svg')}}"/>
						</a>
					</div>
				</div>
		</div>
	</div>
	<footer>
<!-- 		<div class="social-links">
			<div class="social-link">
				<a href="https://twitter.com/sfbaysafetoswim" class="highlightit">
					<img src="{{url_for('static', filename='twitter.svg')}}" />
				</a>
			</div>
			<div class="social-link">
				<a href="mailto: sfbayswim@gmail.com" class="highlightit">
					<img src="{{url_for('static', filename='gmail.svg')}}"/>
				</a>
			</div>
		</div> -->
		<div id="footer-love">
			<p> Made by Scott. Enjoy the Bay!</p>
			<p> Copyright 2021 </p>
		</div>
	</footer>
</body>

<script>
(function () {
  $(document).ready(function () {
    var $button1, $button2, $expand1, $expand2
    $button1 = $('#collapse-1')
    $button2 = $('#collapse-2')
    $expand1 = $('#expand-1')
    $expand2 = $('#expand-2')
    return $button1.click(() => {
      if ($expand1.attr('hidden') === 'hidden' && $expand2.attr('hidden') === 'hidden')  {
        mixpanel.track("Viewed Measurement Details", {"Testing Location": "Crown 2001 Shoreline"})
        $expand1.removeAttr('hidden')
        return $button1.attr('aria-expanded', true)
      } else if ($expand1.attr('hidden') === 'hidden' && $expand2.attr('hidden') != 'hidden') {
        mixpanel.track("Viewed Measurement Details", {"Testing Location": "Crown 2001 Shoreline"})
        $expand1.removeAttr('hidden')
        $button1.attr('aria-expanded', true)
        $expand2.attr('hidden', true)
        return $button2.attr('aria-expanded', false)
      } else {
        $expand1.attr('hidden', true)
        return $button1.attr('aria-expanded', false)
      }
    })
  })
}.call(this));

(function () {
  $(document).ready(function () {
    var $button1, $button2, $expand1, $expand2
    $button1 = $('#collapse-1')
    $button2 = $('#collapse-2')
    $expand1 = $('#expand-1')
    $expand2 = $('#expand-2')
    return $button2.click(() => {
      if ($expand2.attr('hidden') === 'hidden' && $expand1.attr('hidden') != 'hidden') {
      	mixpanel.track("Viewed Measurement Details", {"Testing Location": "Aquatic Park"})
      	$expand2.removeAttr('hidden')
        $button2.attr('aria-expanded', false)
        $expand1.attr('hidden', true)
        return $button1.attr('aria-expanded', false)
      } else if ($expand2.attr('hidden') === 'hidden') {
      	mixpanel.track("Viewed Measurement Details", {"Testing Location": "Aquatic Park"})
        $expand2.removeAttr('hidden')
        return $button2.attr('aria-expanded', true)
      } else {
        $expand2.attr('hidden', true)
        return $button2.attr('aria-expanded', false)
      }
    })
  })
}.call(this));

</script>
